{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-object-assign",
    "array-includes"
  ],
  "env": {
    "watch": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
